.App {
  text-align: center;

}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  width: 45vmin;
  max-width: 400px;
  min-width:  250px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: calc(100vh - 12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  margin-top: 10vh;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
}

.Tilt {
  background-image: linear-gradient(to left top, #896e47 0%, #bc975d 47%, #7e6541 100%);
  padding: 25px 55px;
  width: auto !important;
  height: auto !important;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(126, 101, 65, 0.3), 0px 2px 16px rgba(188, 151, 93, 0.3), 0px 3px 16px rgba(137, 110, 71, 0.3);
  font-family: 'Raleway', sans-serif;
}

.Tilt:hover {
  box-shadow: 0px 4px 10px rgba(126, 101, 65, 0.4), 0px 4px 20px rgba(188, 151, 93, 0.4), 0px 4px 20px rgba(137, 110, 71, 0.4);
}

.image-footer {
  width: 100vw;
  height: 12px;
  background-image: linear-gradient(to left, #896e47 0%, #bc975d 47%, #7e6541 100%);
  overflow: hidden;
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
